#nav {
    margin:0 10%;
}
.a::after {
    content: "";
    position: absolute;
    background-color: #3182ce;
    height: 3px;
    width: 0;
    top: 1.5rem;
    left: 0;
    transition: 0.5s; 
}
.a:hover::after{
    width: 100%;
}
nav .a {
    position: relative;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.MT {
    margin-left: 5%;
}
.Zt {
    border-radius: 50%;
}
.LG {
    border-radius: 50%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20%;
}
.grided {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 10%;
}
.grider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 4% 20%;
}
.BD {
    margin-left: 22%;
}

.set{
    margin-top: 39%;
    margin-left: 60%;
}
.sets{
    margin-top: 0%;
    margin-left: 0%;
}
.seg{
    margin-top: 8%;
    margin-left: 50%;
}
.IMG {
    border-radius: 100%;
}
.content-center {
    margin-left: 25%;
}
.gride {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1% 20%;
}

.bg {
    border-top-left-radius: 6rem;
}
.border-t-black {
    border-top: 2px solid #000;
    width: 20%;
}
#flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width:768px) {
    #flex {
        display: grid;
        grid-template-columns: 1fr;
    }
    .sec {
        text-align: center;
    }
    .bg {
        border-top-left-radius: 0;
    }
}
@media only screen and (max-width:768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .A{
        margin-top: 5%;
    }
    .one {
        display: none;
    }
    .w-32 {
        display: none;
    }
    .gride {
        display: grid;
        grid-template-columns: 1fr;
        margin: 5% 25%;
    }
    .grided {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .text {
        margin: 4px 10%;
    }
    .Zt {
        display: none;
    }
    .t-0 {
        display: none;
    }
    .grider {
        display: grid;
        grid-template-columns: 1fr;
    }
    .SM {
        margin-left: 10%;
    }
    .BD {
        margin-left: 22%;
    }
    .one {
        margin-left: 40%;
    }
    .set{
        margin-top: 39%;
        margin-left: 60%;
    }
    .sets{
        margin-top: 0%;
        margin-left: 0%;
    }
    .seg{
        margin-top: 8%;
        margin-left: 50%;
    }
    .IMG {
        border-radius: 100%;
        width: 50%;
    }
    .content-center {
        margin-left: 25%;
    }
    
}